<?xml version="1.0"?>
<data>
	<MySQL>
		<user></user>
		<password></password>
		<host>localhost</host>
	</MySQL>
	<Database>
		<name>companies_house</name>
		<Tables>
		    <companies>
			    <source_csv></source_csv>
			    <headers_xml>companies_table_headers.xml</headers_xml>
				<ignore_first_column>False</ignore_first_column>
			</companies>
			<postcodes>
    			<source_csv></source_csv>
	    	    <headers_xml>postcodes_table_headers.xml</headers_xml>
				<ignore_first_column>True</ignore_first_column>
			</postcodes>
		</Tables>
	</Database>>
</data>